<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <ul class="languages">
      {{ for alt of alternates }}
      <li>
	<a href="{{ alt.url }}" {{ if alt.lang == lang }}aria-current="page"{{ /if }}>
	  ({{ alt.lang }}) {{ alt.title }}
	</a>
      </li>
      {{ /for }}
    </ul>
    <h1>{{ title }}</h1>
    {{ content }}
  </body>
</html>
